@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
							/* body*/
body, html {
	font-family: 'Poppins', sans-serif;
	color: rgb(54, 34, 34);
    background-color:ivory;
}

p {
	text-align: center;
	font-size: 40pt;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


/* footer*/
.social {
	font-size: 2em;
	padding: 2px;

}
.fa-facebook-f {color:#3b5998}
.fa-instagram {color:#517fa4}
.fa-google {color:#bb4b39}
.fa-twitter {color:#00aced}
.fa-youtube {color:#bb0000}

.fa-facebook-f:hover, .fa-google:hover,
.fa-instagram:hover, .fa-twitter:hover, 
.fa-youtube:hover {color: #ccc}

footer { 
	background-color: #4F3535;
	padding-top: 10px;
	border-top: 2px solid silver;
	color: antiquewhite;
	margin-bottom: 0
}
