@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
							/* body*/
body, html {
	font-family: 'Poppins', sans-serif;
	color: rgb(54, 34, 34);
    background-color:ivory;
}

p {
	text-align: center;
	font-size: 40pt;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}


/* footer*/
.social {
	font-size: 2em;
	padding: 2px;
	display: inline-block;
	margin-right: 12px;

}
span{
	margin-left: 12px;
	font-size: 16px;
	color: aliceblue;
}
.fa-facebook-f {margin-left: 10px; color:#3b5998}
.fa-instagram {margin-left: 10px; color:#ec4a65}
.fa-telegram {margin-left: 10px; color:#00aced}
.fa-linkedin-in {margin-left: 10px; color:#0080ff}
.fa-github {margin-left: 10px; color: #ece7f1;}

.fa-facebook-f:hover,
.fa-instagram:hover, .fa-telegram:hover, 
.fa-linkedin-in:hover, .fa-github:hover {color: #ccc}

footer { 
	background-color: #02020f;
	padding-top: 5px;
	border-top: 2px solid silver;
	color: antiquewhite;
	margin-bottom: 0
}
